@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p><a href="#" id="btnJoinUs" class="btn btn-primary btn-lg">Join us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Games</h2>
        <p>
            We've got a wide amount of games for all platforms. Join us to buy games with exclusive discounts. 
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crew</h2>
        <p>
            Join a crew and get up to 40% off, on all games. Including brand new games and pre-orders!!!
            The more crew members who applies for a game, the cheaper it is!
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future of gaming</h2>
        <p>In the future you will be able to buy games Cross-Platform, ONE game for all platforms. And within a
            year, the martians and other aliens will join MVOGames and we will RULE the world!!! Muhahahhaha
        .... lol
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>